* {
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-size: cover;
  background-position: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
	background-color: black;
  overflow: hidden;
  text-align:center;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #ca7c0f;
  color: #fff;
  border: none;
  border-radius: 5px;
}

img {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#animation-container {
  width: 100%;
  height: 100%;
  background-image: url(motard.avif);
	background-repeat: no-repeat;
  background-size: 100% auto;
	background-position: center;
}

#dog_walking {
  position: absolute;
  width: 350px; /* Ajuster la taille si nécessaire */
  height: auto;
  left: -300px; /* Position de départ en dehors de l'écran */
  bottom: 50px; /* Ajuster pour que le chien soit sur la pelouse */
  transition: left 2s ease-in-out;
}

@keyframes fadeout {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
  }
}

.fadeout_animation {
  animation: fadeout 2s linear;
}

#dog_sitting {
  position: absolute;
  width: 300px;
  height: auto;
  left: 40%;
  bottom: 50px;
  display: none;
}

#dialogue-container {
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: flex-end;
}

#dialogue-bubble {
  min-width: 600px;
  z-index: 1;
  padding: 1px;
  border-radius: 10px;
  background-color: white;
  border: 5px solid black;
}

#dialogue-text {
  color: black;
  font-size: 18px;
  margin: 0;
}

#plume {
  opacity: 0;
	height: 4em;
  filter: invert(1) drop-shadow(1px 1px 1px gray);
}

/* #dialogue-bubble:after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 50px;
  border-width: 20px;
  border-style: solid;
  border-color: #f9f9f9 transparent transparent transparent;
} */

@keyframes fadein {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

.fadein_animation {
  animation: fadein 2s linear;
}

#cadeau-container {
  height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
  display: none;
  text-align: center;
}

#cadeau{
  width: 24vw;
}

#gateau {
  display: none;
  z-index: 1;
  max-width: 80vw;
}

@keyframes cadeau_shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.cadeau_shake_animation {
  animation: cadeau_shake 0.5s linear;
  animation-iteration-count: infinite;
}

#ouvrir-btn {
	padding: 10px 20px;
	font-size: 16px;
	margin: 5px;
	margin-top: 20px;
  opacity: 0;
  z-index: 2;
}

#lettre-container{
	display: none;
	position: absolute;
	z-index: 5;
	width: 100vw;
	height: 100vh;
}

#lettre{
	background-image: url(lettre.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	aspect-ratio: 5 / 7;
}

#texte-anniversaire {
  font-size: 35px;
	padding: 130px;
	padding-top: 100px;
	padding-bottom: 10px;
	margin: 0;
  font-family: Snell Roundhand, Brush Script MT, Brush Script Std, cursive;
}

#balloons{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  position: absolute;
  top: 0%;
  margin-top: 2%;
  width: 100%;
  z-index: 0;
}

#fleche
{
	position: absolute;
	right: 0;
	bottom: 0;
	margin: 5px;
	height: 60px;
  display: none;
  cursor: pointer;
}

.balloon {
  display:inline-block;
  width:7vw;
  height:10vw;
  background:hsl(215,50%,65%);
  border-radius:80%;
  position:relative;
  box-shadow:inset -10px -10px 0 rgba(0,0,0,0.07);
  margin:20px 30px;
  transition:transform 0.5s ease;
  animation:balloon 4s ease-in-out infinite;
  transform-origin:bottom center;
}

#smokeContainer {
	position: relative;
  z-index: 1;
}

.smoke {
	width: 3vh;
	position: absolute;
}

@keyframes balloon {
  0%,100%{ transform:translateY(0) rotate(-4deg); }
  50%{ transform:translateY(-25px) rotate(4deg); }
}
@keyframes balloons {
  from {top: 100%;z-index: 1;}
  to {top: 0%;z-index: 1;}
}



.balloon:before {
  content:"▲";
  font-size:20px;
  color:hsl(215,30%,50%);
  display:block;
  text-align:center;
  width:100%;
  position:absolute;
  bottom:-12px;
  z-index:-100;
}

.balloon:after {
 display:inline-block;
 top:104%;
  position:absolute;
  height:10vw;
  width:1px;
  margin:0 auto;
  content:"";
  z-index: -1;
  background:rgba(0,0,0,0.2);
}

.balloon:nth-child(2){ background:hsl(245,40%,65%); animation-duration:3.5s; }
.balloon:nth-child(2):before { color:hsl(245,40%,65%);  }

.balloon:nth-child(3){ background:hsl(139,50%,60%); animation-duration:3s; }
.balloon:nth-child(3):before { color:hsl(139,30%,50%);  }

.balloon:nth-child(4){ background:hsl(59,50%,58%); animation-duration:4.5s; }
.balloon:nth-child(4):before { color:hsl(59,30%,52%);  }

.balloon:nth-child(5){ background:hsl(23,55%,57%); animation-duration:5s; }
.balloon:nth-child(5):before { color:hsl(23,44%,46%);  }

@media (orientation: portrait) {
  #lettre-container{
    justify-content: center;
  }

  #lettre{
    width: auto;
    height: 100%;
    position: relative;
    right: 25%;
  }
}